@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto&display=swap');

body{
    margin: 0 ;
    background-color: #125B50;
}

/* FOR THE NAV BAR */

.icon {
    height: 40px;
    width: 40px;
}

#edibles-logo-white {
    display: block;
    float:left;
    padding: 0.9em 0.8em;
    background-color: #125B50;
}

nav {
    margin:0;
    background-color: #125B50;
    padding-left:126px;
    padding-right:126px;
    border-bottom: 2px solid #FFFFFF;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav > ul > li {
    float: right;
    padding: 1.6em 1.5em;
}

nav > ul > li > a {
    font-family:sans-serif;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul > li:hover {
    background-color: #104d44;
    color: white;
  }

/* MAIN > BODY TEXT */

#body-text {
    padding-top: 107px;
    line-height:18px;
}

#body-text > p {
    text-align:center;
    font-size: 64px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: white;

}

#secondline {
    color: #F8B400 !important;
}


#subtext { 
    font-size: 32px !important;
    font-weight: 200 !important;
}

#newsletter {
    display:flex;
    justify-content:center;
    align-items:center;

}
/*start of signin styles*/

/*#create-account {
    background-color: white;
    border-radius: 5px;
    margin: 10px 757px;
    padding: 1px;
}

#create-account > p {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
}

#create-account > p > a {
    color: #125B50;
    text-decoration: none;
} */

#signin-main {
    justify-content:center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin: 10.1% 39%;
    padding: 10px;
    display: grid;
    grid-template-areas:
    "welcome-back"
    "email"
    "password"
    "login"
    "forgot-pass"
    "create-account";
}

#welcome-back {
    grid-area: welcome-back;
    text-align: left;
    font-size: 32px;
    margin: -5px;
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #125B50;
}

#email {
    grid-area: email;
    margin-left: 10px;
    margin-bottom: 5px;
}

#password {
    grid-area: password;
    margin-left: 10px;
}

input {
    width: 85%;
    padding: 12px;
}

input [type=text]:focus {
    border: 3px solid #555;
}

#login > p {
    grid-area: login;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#login > p > a {
    color: white;
    text-decoration: none;
    display: block;
}

#login {
    background-color: #125B50;
    border-radius: 5px;
    margin: 0 100px;
    margin-top: 20px;
}

#forgot-pass {
    grid-area: forgot-pass;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#forgot-pass > p > a {
    color: #125B50;
    text-decoration: none;
}

#create-account {
    grid-area: create-account;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#create-account > p > a {
    color: #125B50;
    text-decoration: underline;
}

#footer {
    position: fixed;
    bottom: 0;
}
/*end of signin styles*/

.button > p > a {
    text-align:center;
    font-family:sans-serif;
    font-size:13px;
    font-weight:bold;
    color: #125B50;
    text-decoration: none;
}

.button > p {
    margin:0;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

/* MAIN > EXTRAS */

.grid-container {
    margin: 50px 126px;
    display:grid;
    /* border: solid black 1px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px;
    column-gap: 25px;
    grid-template-areas:
      "left right"
}

.gridbutton > p {
    justify-content:center;
    align-items:center;
}

.gridbutton > p > a {
    border-radius: 10px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:white;
    text-decoration:none;
    color:#125B50;
    font-size:13px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    /* background-image: url("images/oldpeople.jpg"); */
    
}

div > #analytics {
    filter: drop-shadow(0 0 0.10rem black);
    display: flex;
    justify-content:center;
    align-items:center;
    background-image: url("images/oldpeople.jpg");
    border-radius:10px;
}

div > #customer-service {
    filter: drop-shadow(0 0 0.10rem black);
    display: flex;
    justify-content:center;
    align-items:center;
    background-image: url("images/friedchicken.jpg");
    border-radius:10px;
}

/* FOR THE FOOTER */

footer {
    height: 100%;
    margin:0;
    background-color:white;
    padding:1.25em;
    font-family:sans-serif;
}

footer > ul {
    gap: 25px;
    background-color:white;
    list-style-type: none;
    display:flex;
    justify-content:center;
    align-items:center;
}

footer > ul > li > a {
    text-decoration:none;
    color:#125B50;
    font-size:13px;
    font-weight:bold;
}

footer > p {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 10px;
    font-family:sans-serif;
}