@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto&display=swap');

body{
    margin: 0 ;
    background-color: #125B50;
}

/* FOR ALL BUTTONS */

h1 {
    margin-top:80px;
    font-family: 'Open-Sans', sans-serif;
    color:white;    
    margin-left:126px;
    margin-right:126px;
    font-weight:200;
}

h2 {
    margin:0;
    font-family:'Open-Sans', sans-serif;
    color:white;
    margin-left:126px;
    margin-right:126px;
    font-weight:100;
}

.buttonset {
    display:flex;
    gap: 10px;
    justify-content:center;
    align-items:center;
}

.button {
    text-align:center;
    min-width: 120px auto;
    max-width: 150px;
    border-radius: 10px;
    /* background-color:#FFFFFF; */
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.button > a {
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 13px;
}

#addbutton {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:75px;
}

#addbutton > .button {
    background-color: #F8CD00;
}

#addbutton > div > a {
    color: white;
}

#edit{
    background-color:#104d44;
}

#edit > a{
    color:white;
}

#view{
    background-color: #FAF5E4;
}

#view > a{
    color:#104d44;
}

/* FOR LIST TYPE PAGES!(e.g. customers.html) */

.entries > p {
    align-items:center;
    padding:25px;
    margin:0;
    gap: 10px;
    display:inline-block;
    min-width: 200px;
    max-width: 300px;
    font-family:'Open-Sans',sans-serif;
}

#mlist {
    row-gap:5px;
    padding: 15px;
    border-radius:10px;
    background-color:white;
    border-bottom: solid black 1px;
    margin: 20px 126px;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 68px 68px 68px 68px ;
    grid-template-areas:
    "entry1a entry1b entry1c entry1butt"
    "entry2 entry2butt"
    "entry3 entry3butt"
    "entry4 entry4butt"
}




/* FOR THE NAV BAR */

.icon {
    height: 40px;
    width: 40px;
}

#edibles-logo-white {
    display: block;
    float:left;
    padding: 0.9em 0.8em;
    background-color: #125B50;
}

nav {
    margin:0;
    background-color: #125B50;
    padding-left:126px;
    padding-right:126px;
    border-bottom: 2px solid #FFFFFF;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav > ul > li {
    float: right;
    padding: 1.6em 1.5em;
}

nav > ul > li > a {
    font-family:sans-serif;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: #104d44;
    color: white;
  }

/* FOOTER */

footer {
    height: 100%;
    margin:0;
    background-color:white;
    padding:1.25em;
    font-family:sans-serif;
}

footer > ul {
    gap: 25px;
    background-color:white;
    list-style-type: none;
    display:flex;
    justify-content:center;
    align-items:center;
}

footer > ul > li > a {
    text-decoration:none;
    color:#125B50;
    font-size:13px;
    font-weight:bold;
}

footer > p {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 10px;
    font-family:sans-serif;
}