body{
    margin: 0 ;
    background-color: #125B50;
}

/* FOR ALL BUTTONS */

.buttonset {
    display:flex;
    gap: 10px;
}

.button {
    text-align:center;
    min-width: 120px auto;
    max-width: 150px;
    border-radius: 10px;
    background-color:#FFFFFF;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.button > a {
    text-decoration:none;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 13px;
}

/* FOR LIST TYPE PAGES!(e.g. customers.html) */




/* FOR THE NAV BAR */

.icon {
    height: 40px;
    width: 40px;
}

#edibles-logo-white {
    display: block;
    float:left;
    padding: 0.9em 0.8em;
    background-color: #125B50;
}

nav {
    margin:0;
    background-color: #125B50;
    padding-left:126px;
    padding-right:126px;
    border-bottom: 2px solid #FFFFFF;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav > ul > li {
    float: right;
    padding: 1.6em 1.5em;
}

nav > ul > li > a {
    font-family:sans-serif;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: #104d44;
    color: white;
  }

/* FOOTER */

footer {
    height: 100%;
    margin:0;
    background-color:white;
    padding:1.25em;
    font-family:sans-serif;
}

footer > ul {
    gap: 25px;
    background-color:white;
    list-style-type: none;
    display:flex;
    justify-content:center;
    align-items:center;
}

footer > ul > li > a {
    text-decoration:none;
    color:#125B50;
    font-size:13px;
    font-weight:bold;
}

footer > p {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 10px;
    font-family:sans-serif;
}